@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto&display=swap;700&family=Bebas+Neue&display=swap');
body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
